In [56]:
import pandas as pd
a=pd.read_csv('/content/drive/MyDrive/breast_cancer_survival.csv')
print(a)

     Age  Gender  Protein1  Protein2  Protein3  Protein4 Tumour_Stage  \
0     42  FEMALE  0.952560   2.15000  0.007972 -0.048340           II
1     54  FEMALE  0.000000   1.38020 -0.498030 -0.507320           II
2     63  FEMALE -0.523030   1.76400 -0.370190  0.010815           II
3     78  FEMALE -0.876180   0.12943 -0.370380  0.132190            I
4     42  FEMALE  0.226110   1.74910 -0.543970 -0.390210           II
..   ...     ...       ...       ...       ...       ...          ...
329   59  FEMALE  0.024598   1.40050  0.024751  0.280320           II
330   41  FEMALE  0.100120  -0.46547  0.472370 -0.523870            I
331   54  FEMALE  0.753820   1.64250 -0.332850  0.857860           II
332   74  FEMALE  0.972510   1.42680 -0.366570 -0.107820           II
333   66  FEMALE  0.286380   1.39980  0.318830  0.836050           II

                          Histology ER status PR status HER2 status  \
0     Infiltrating Ductal Carcinoma  Positive  Positive    Negative
1     Infiltrating Ductal Carcinoma  Positive  Positive    Negative
2     Infiltrating Ductal Carcinoma  Positive  Positive    Negative
3     Infiltrating Ductal Carcinoma  Positive  Positive    Negative
4     Infiltrating Ductal Carcinoma  Positive  Positive    Positive
..                              ...       ...       ...         ...
329   Infiltrating Ductal Carcinoma  Positive  Positive    Positive
330   Infiltrating Ductal Carcinoma  Positive  Positive    Positive
331   Infiltrating Ductal Carcinoma  Positive  Positive    Negative
332  Infiltrating Lobular Carcinoma  Positive  Positive    Negative
333   Infiltrating Ductal Carcinoma  Positive  Positive    Negative

                    Surgery_type Date_of_Surgery Date_of_Last_Visit  \
0                          Other       20-May-18          26-Aug-18
1                          Other       26-Apr-18          25-Jan-19
2                     Lumpectomy       24-Aug-18          08-Apr-20
3                          Other       16-Nov-18          28-Jul-20
4                     Lumpectomy       12-Dec-18          05-Jan-19
..                           ...             ...                ...
329                   Lumpectomy       15-Jan-19          27-Mar-20
330  Modified Radical Mastectomy       25-Jul-18          23-Apr-19
331            Simple Mastectomy       26-Mar-19          11-Oct-19
332                   Lumpectomy       26-Nov-18          05-Dec-18
333  Modified Radical Mastectomy       04-Feb-19          10-Aug-19

    Patient_Status
0            Alive
1             Dead
2            Alive
3            Alive
4            Alive
..             ...
329          Alive
330          Alive
331           Dead
332          Alive
333           Dead

[334 rows x 15 columns]

In [57]:
a.isnull().sum()

Age                    0
Gender                 0
Protein1               0
Protein2               0
Protein3               0
Protein4               0
Tumour_Stage           0
Histology              0
ER status              0
PR status              0
HER2 status            0
Surgery_type           0
Date_of_Surgery        0
Date_of_Last_Visit    17
Patient_Status        13
dtype: int64

In [58]:
a.isnull().sum()

Age                    0
Gender                 0
Protein1               0
Protein2               0
Protein3               0
Protein4               0
Tumour_Stage           0
Histology              0
ER status              0
PR status              0
HER2 status            0
Surgery_type           0
Date_of_Surgery        0
Date_of_Last_Visit    17
Patient_Status        13
dtype: int64

In [59]:
a=a.drop(columns=['Histology','Surgery_type','Date_of_Surgery','Date_of_Last_Visit'],axis=1)
print(a)

     Age  Gender  Protein1  Protein2  Protein3  Protein4 Tumour_Stage  \
0     42  FEMALE  0.952560   2.15000  0.007972 -0.048340           II
1     54  FEMALE  0.000000   1.38020 -0.498030 -0.507320           II
2     63  FEMALE -0.523030   1.76400 -0.370190  0.010815           II
3     78  FEMALE -0.876180   0.12943 -0.370380  0.132190            I
4     42  FEMALE  0.226110   1.74910 -0.543970 -0.390210           II
..   ...     ...       ...       ...       ...       ...          ...
329   59  FEMALE  0.024598   1.40050  0.024751  0.280320           II
330   41  FEMALE  0.100120  -0.46547  0.472370 -0.523870            I
331   54  FEMALE  0.753820   1.64250 -0.332850  0.857860           II
332   74  FEMALE  0.972510   1.42680 -0.366570 -0.107820           II
333   66  FEMALE  0.286380   1.39980  0.318830  0.836050           II

    ER status PR status HER2 status Patient_Status
0    Positive  Positive    Negative          Alive
1    Positive  Positive    Negative           Dead
2    Positive  Positive    Negative          Alive
3    Positive  Positive    Negative          Alive
4    Positive  Positive    Positive          Alive
..        ...       ...         ...            ...
329  Positive  Positive    Positive          Alive
330  Positive  Positive    Positive          Alive
331  Positive  Positive    Negative           Dead
332  Positive  Positive    Negative          Alive
333  Positive  Positive    Negative           Dead

[334 rows x 11 columns]

In [60]:
col_replace=['ER status','PR status','HER2 status']
a[col_replace]=a[col_replace].replace({'Positive': 1,'Negative': 0})
print(a)

     Age  Gender  Protein1  Protein2  Protein3  Protein4 Tumour_Stage  \
0     42  FEMALE  0.952560   2.15000  0.007972 -0.048340           II
1     54  FEMALE  0.000000   1.38020 -0.498030 -0.507320           II
2     63  FEMALE -0.523030   1.76400 -0.370190  0.010815           II
3     78  FEMALE -0.876180   0.12943 -0.370380  0.132190            I
4     42  FEMALE  0.226110   1.74910 -0.543970 -0.390210           II
..   ...     ...       ...       ...       ...       ...          ...
329   59  FEMALE  0.024598   1.40050  0.024751  0.280320           II
330   41  FEMALE  0.100120  -0.46547  0.472370 -0.523870            I
331   54  FEMALE  0.753820   1.64250 -0.332850  0.857860           II
332   74  FEMALE  0.972510   1.42680 -0.366570 -0.107820           II
333   66  FEMALE  0.286380   1.39980  0.318830  0.836050           II

     ER status  PR status  HER2 status Patient_Status
0            1          1            0          Alive
1            1          1            0           Dead
2            1          1            0          Alive
3            1          1            0          Alive
4            1          1            1          Alive
..         ...        ...          ...            ...
329          1          1            1          Alive
330          1          1            1          Alive
331          1          1            0           Dead
332          1          1            0          Alive
333          1          1            0           Dead

[334 rows x 11 columns]

In [61]:
a['Patient_Status']=a['Patient_Status'].replace({'Alive':1,'Dead':0})
round_Values=round(a.Patient_Status.mean())
a.Patient_Status=a.Patient_Status.fillna(round_Values)
print(a)

     Age  Gender  Protein1  Protein2  Protein3  Protein4 Tumour_Stage  \
0     42  FEMALE  0.952560   2.15000  0.007972 -0.048340           II
1     54  FEMALE  0.000000   1.38020 -0.498030 -0.507320           II
2     63  FEMALE -0.523030   1.76400 -0.370190  0.010815           II
3     78  FEMALE -0.876180   0.12943 -0.370380  0.132190            I
4     42  FEMALE  0.226110   1.74910 -0.543970 -0.390210           II
..   ...     ...       ...       ...       ...       ...          ...
329   59  FEMALE  0.024598   1.40050  0.024751  0.280320           II
330   41  FEMALE  0.100120  -0.46547  0.472370 -0.523870            I
331   54  FEMALE  0.753820   1.64250 -0.332850  0.857860           II
332   74  FEMALE  0.972510   1.42680 -0.366570 -0.107820           II
333   66  FEMALE  0.286380   1.39980  0.318830  0.836050           II

     ER status  PR status  HER2 status  Patient_Status
0            1          1            0             1.0
1            1          1            0             0.0
2            1          1            0             1.0
3            1          1            0             1.0
4            1          1            1             1.0
..         ...        ...          ...             ...
329          1          1            1             1.0
330          1          1            1             1.0
331          1          1            0             0.0
332          1          1            0             1.0
333          1          1            0             0.0

[334 rows x 11 columns]

In [62]:
a['Tumour_Stage']=a['Tumour_Stage'].replace({'I':1,'II':2,'III':3,'IV':4})
a['Gender']=a['Gender'].replace({'FEMALE':0,'MALE':1})
print(a)

     Age  Gender  Protein1  Protein2  Protein3  Protein4  Tumour_Stage  \
0     42       0  0.952560   2.15000  0.007972 -0.048340             2
1     54       0  0.000000   1.38020 -0.498030 -0.507320             2
2     63       0 -0.523030   1.76400 -0.370190  0.010815             2
3     78       0 -0.876180   0.12943 -0.370380  0.132190             1
4     42       0  0.226110   1.74910 -0.543970 -0.390210             2
..   ...     ...       ...       ...       ...       ...           ...
329   59       0  0.024598   1.40050  0.024751  0.280320             2
330   41       0  0.100120  -0.46547  0.472370 -0.523870             1
331   54       0  0.753820   1.64250 -0.332850  0.857860             2
332   74       0  0.972510   1.42680 -0.366570 -0.107820             2
333   66       0  0.286380   1.39980  0.318830  0.836050             2

     ER status  PR status  HER2 status  Patient_Status
0            1          1            0             1.0
1            1          1            0             0.0
2            1          1            0             1.0
3            1          1            0             1.0
4            1          1            1             1.0
..         ...        ...          ...             ...
329          1          1            1             1.0
330          1          1            1             1.0
331          1          1            0             0.0
332          1          1            0             1.0
333          1          1            0             0.0

[334 rows x 11 columns]

In [63]:
features=a.drop(columns=['Patient_Status','Gender'],axis=1)
target=a['Patient_Status']
print(features)
print(target)

     Age  Protein1  Protein2  Protein3  Protein4  Tumour_Stage  ER status  \
0     42  0.952560   2.15000  0.007972 -0.048340             2          1
1     54  0.000000   1.38020 -0.498030 -0.507320             2          1
2     63 -0.523030   1.76400 -0.370190  0.010815             2          1
3     78 -0.876180   0.12943 -0.370380  0.132190             1          1
4     42  0.226110   1.74910 -0.543970 -0.390210             2          1
..   ...       ...       ...       ...       ...           ...        ...
329   59  0.024598   1.40050  0.024751  0.280320             2          1
330   41  0.100120  -0.46547  0.472370 -0.523870             1          1
331   54  0.753820   1.64250 -0.332850  0.857860             2          1
332   74  0.972510   1.42680 -0.366570 -0.107820             2          1
333   66  0.286380   1.39980  0.318830  0.836050             2          1

     PR status  HER2 status
0            1            0
1            1            0
2            1            0
3            1            0
4            1            1
..         ...          ...
329          1            1
330          1            1
331          1            0
332          1            0
333          1            0

[334 rows x 9 columns]
0      1.0
1      0.0
2      1.0
3      1.0
4      1.0
      ...
329    1.0
330    1.0
331    0.0
332    1.0
333    0.0
Name: Patient_Status, Length: 334, dtype: float64

In [64]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(features,target,test_size=0.30)

In [65]:
import math
import random
import numpy as np
log_error=[]
k=[]
def logistic_regression(w0,w1,w2,w3,w4,w5,w6,w7,w8,w9):
    c=0
    for i in range(len(x_train)):
        z1=x_train['Age'].iloc[i]*w0
        z2=x_train['Protein1'].iloc[i]*w1
        z3=x_train['Protein2'].iloc[i]*w2
        z4=x_train['Protein3'].iloc[i]*w3
        z5=x_train['Protein4'].iloc[i]*w4
        z6=x_train['Tumour_Stage'].iloc[i]*w5
        z7=x_train['ER status'].iloc[i]*w6
        z8=x_train['PR status'].iloc[i]*w7
        z9=(x_train['HER2 status'].iloc[i]*w8)+w9
        z=z1+z2+z3+z4+z5+z6+z7+z8+z9
        p=1/(1+math.exp(-z))
        p=max(min(p,1-1e-15),1e-15)
        k.append(-y_train.iloc[i]*math.log(p)-(1-y_train.iloc[i])*math.log(1-p))
        if (p>=0.5 and y_train.iloc[i]==1) or (p<0.5 and y_train.iloc[i]==0):
            c+=1
    ac=c/len(x_train)
    return k,ac
w0=random.randint(1,10)
w1=random.randint(1,10)
w2=random.randint(1,10)
w3=random.randint(1,10)
w4=random.randint(1,10)
w5=random.randint(1,10)
w6=random.randint(1,10)
w7=random.randint(1,10)
w8=random.randint(1,10)
w9=random.randint(1,10)
k,ac=logistic_regression(w0,w1,w2,w3,w4,w5,w6,w7,w8,w9)
k=np.mean(k)
print(k)
print(ac)

6.374256513607973
0.8154506437768241

In [66]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
lg=LogisticRegression()
lg.fit(x_train,y_train)
y_p=lg.predict(x_test)
print("ACCURACY:",accuracy_score(y_test,y_p))
print("\n\n\n")

ACCURACY: 0.7722772277227723

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(